.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 38px;
}

.brand {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.red {
    color: #e53935;
}

.menuButton {
    display: flex;
    align-items: center;
    gap: px;
    background-color: #f5fafd;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background 0.3s;
}

.menuButton:hover {
    background-color: #e7e7e7;
}

.active {
    background-color: #e53935;
    color: white;
}

.menuIcon {
    width: 18px;
    height: 18px;
}



.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menuItem , .menuItem2 {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #555;
    padding: 17px 25px ;
    font-size: 16px;
}

.menuItem:hover {

    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(241, 70, 53, 1), rgba(255, 99, 83, 1));
    border-radius: 10px;
}

.activeText {

    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(241, 70, 53, 1), rgba(255, 99, 83, 1));
    border-radius: 10px;

}

.iconCon{
    background-color: #E4EBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 28px;
    width: 28px;
}


.arrow {
    font-size: 12px;
}

.right {
    display: flex;
    gap: 16px;

}

.right button{
    height: 62px;
    width: 62px;
    background-color: rgba(228, 235, 240, 1) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.icon {
    font-size: 18px;
    color: #555;
    cursor: pointer;
}
