.layout {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex: 1; /* занимает все пространство снизу header */
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
