.sidebar {
    width: 82px;
    background-color: #E4EBF0;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav li {
}

.nav a {
    width: 62px;
    height: 62px;
    background-color: #EBF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #F14635;
}
.nav a.active {
    background-color: #F14635;
}

.active {
    background-color:#F14635; /* активный - красный */
}

.active img {
    filter: brightness(1.3); /* подсветка иконки */
    background-color: #F14635;

}
